.idea
.metadata
.tempFiles
RemoteSystemTempFiles
cli_mesh/.idea
cli_mesh/.launches
cli_mesh/.settings
libmbedcrypto_CC26X2R1_LAUNCHXL_ccs
libopenthread_cli_ftd_CC26X2R1_LAUNCHXL_ccs
libopenthread_diag_ftd_CC26X2R1_LAUNCHXL_ccs
libopenthread_ftd_CC26X2R1_LAUNCHXL_ccs
libopenthread_platform_utils_mtd_CC26X2R1_LAUNCHXL_ccs
libopenthread_cli_mtd_CC26X2R1_LAUNCHXL_ccs
libopenthread_diag_mtd_CC26X2R1_LAUNCHXL_ccs
libopenthread_mtd_CC26X2R1_LAUNCHXL_ccs
libopenthread_platform_utils_mtd_CC26X2R1_LAUNCHXL_ccs
libopenthread_platform_utils_ftd_CC26X2R1_LAUNCHXL_ccs
.jx-browser-data
.jxbrowser-data
temp_sensor_CC26X2R1_LAUNCHXL_tirtos_ccs/Debug
temp_sensor_CC26X2R1_LAUNCHXL_tirtos_ccs/.launches
temp_sensor_CC26X2R1_LAUNCHXL_tirtos_ccs/.config
.xdchelp